@model  IEnumerable<MyProjet.Models.Articlesimages>

<h1>Success</h1>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Product Info</h3>
    <table cellpadding="2" cellspacing="2" border="1">



        <tr>
            <td>Photo(s)</td>
            <td>
                @foreach (var photo in ViewBag.product.Photos)
                {
                    <img src="~/images/@photo" width="120" />
                }
            </td>
        </tr>

        <tr>
            <td>Photo(s) In Model</td>
            <td>
                
                   

            </td>
        </tr>
    </table>

</body>
</html>