


body {
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
}

a {
    text-decoration: none;
}

form {
    padding: 4em 10%;
}



span {
    font-weight: 300;
}



p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255,255,255,.9);
    letter-spacing: .05em;
    margin-bottom: 10px;
}

h3,
h3 a {
    color: #32CCFE;
    transition: color .3s;
}


.form-group {
    margin-bottom: 20px;
}

h2.heading {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    color: #506982;
    border-bottom: 1px solid #506982;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.controls {
    text-align: left;
    position: relative;
   
}

.floatLabel {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
}

    .floatLabel:hover {
        outline: none;
        border-color: #9FB1C1;
    }


label {
    color: #077ABC;
    cursor: text;
}




textarea
{
    padding: 12px;
    font-size: 14px;
    border: 1px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
}

#Button {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
}

select {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
}
textarea:hover {
    outline: none;
    border-color: #9FB1C1;
}
button:hover {
    outline: none;
    border-color: #9FB1C1;
}

select:hover {
    outline: none;
    border-color: #9FB1C1
}

label {
    color: #077ABC;
    cursor: text;
}
	

.fa-sort {
    position: absolute;
    right: 10px;
    top: 17px;
    color: #999;
}

select {
     
    cursor: pointer;
}

label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
    pointer-events: none;
    transition: color .3s, top .3s, background-color .8s;
}
    label:active

{
    top: -11px;
    color: #555;
    background-color: rgba(255,255,255,1);
}


textarea {
    resize: none;
    height: 200px;
}



#Button:hover {
    background-color: #07B3A1;
}


.controls  #Button {
    cursor: pointer;
    background-color: #07B3A1;
    border: none;
    color: #fff;
    padding: 12px 0;
}

